<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.meituan.wangshijun.superdocs</string>
	<key>connections</key>
	<dict>
		<key>2066C3E9-EA6F-409A-8124-5D4CA1495C39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3BC4F38B-0DF2-4F86-B17E-5D81AB7471A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>84FB25D6-969E-4895-A743-3F762EB37614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3833E7D-9982-43A3-A070-9C1B07D874F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE07206A-B612-4B97-A577-091501552EA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EEE31B02-9865-4D90-BF8D-96F7AC532EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wangshijun2010</string>
	<key>description</key>
	<string>Search Docs for CSS, HTML, Javascript, PHP, MySQL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Super Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dscss</string>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>php search.php 'css:{query}'</string>
				<key>subtext</key>
				<string>Search CSS Docs with Suggestions</string>
				<key>title</key>
				<string>Search CSS Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B3833E7D-9982-43A3-A070-9C1B07D874F7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dsphp</string>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>php search.php 'php:{query}'</string>
				<key>subtext</key>
				<string>Search PHP Docs with Suggestions</string>
				<key>title</key>
				<string>Search PHP Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84FB25D6-969E-4895-A743-3F762EB37614</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DA6C4C2-7622-4FD2-8999-A10B24039D45</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dsdom</string>
				<key>runningsubtext</key>
				<string>Please Wait ...</string>
				<key>script</key>
				<string>php search.php 'dom:{query}'</string>
				<key>subtext</key>
				<string>Search DOM Docs with Suggestions</string>
				<key>title</key>
				<string>Search DOM Docs with Suggestions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE07206A-B612-4B97-A577-091501552EA8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dshtml</string>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>php search.php 'html:{query}'</string>
				<key>subtext</key>
				<string>Search HTML Docs with Suggestions</string>
				<key>title</key>
				<string>Search HTML Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2066C3E9-EA6F-409A-8124-5D4CA1495C39</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dsjs</string>
				<key>runningsubtext</key>
				<string>Please Wait ...</string>
				<key>script</key>
				<string>php search.php 'js:{query}'</string>
				<key>subtext</key>
				<string>Search Javascript Docs with Suggestions</string>
				<key>title</key>
				<string>Search Javascript Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EEE31B02-9865-4D90-BF8D-96F7AC532EBA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>dsjq</string>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>php search.php 'jquery:{query}'</string>
				<key>subtext</key>
				<string>Search jQuery Docs with Suggestions</string>
				<key>title</key>
				<string>Search jQuery Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3BC4F38B-0DF2-4F86-B17E-5D81AB7471A5</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DA6C4C2-7622-4FD2-8999-A10B24039D45</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>2066C3E9-EA6F-409A-8124-5D4CA1495C39</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3BC4F38B-0DF2-4F86-B17E-5D81AB7471A5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>84FB25D6-969E-4895-A743-3F762EB37614</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B3833E7D-9982-43A3-A070-9C1B07D874F7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CE07206A-B612-4B97-A577-091501552EA8</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>EEE31B02-9865-4D90-BF8D-96F7AC532EBA</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/wangshijun2010/alfred-workflows</string>
</dict>
</plist>
